@import "../../App.scss";

.button {
  border: none;
  border-radius: 8px;
  text-transform: capitalize;
  cursor: pointer;
  text-align: center;
  transition: background 0.4s;

  font-size: 16px;
  line-height: 24px;

  & img {
    width: 24px;
    height: 24px;
  }

  &:hover {
    background: $main-color--hover;
  }
}

.btnIcon {
  width: 22px;
  height: 22px;
  fill: $main-color;
}

.mainBtn {
  color: $white-color;
  background: $main-color;
}

.lightBtn {
  color: $second-text-color;
  background: $lightMain-color;
}
