@import "../../App.scss";

.notFound {
  width: 100vw;
  height: 100vh;
  padding: 17vh 5px 0px;
  text-align: center;
  background: url(../../../public/img/lines404.svg) center top / contain
      no-repeat,
    url(../../../public/img/image-bgd404.svg) center top/ 100% no-repeat;

  img {
    height: 39vh;
  }

  h2 {
    font-size: 48px;
    line-height: 120%;
    padding: 50px 8px 8px;
  }

  p {
    width: 481px;
    color: $second-text-color;
    padding: 8px;
    margin: 0 auto 40px;
  }
}
