@import "../../App.scss";

.langSelector {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 16px;
  position: relative;

  &::after {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  select {
    display: block;
    appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
    padding-right: 30px;
    text-transform: capitalize;
    cursor: pointer;
  }
}
