$main-text-color: #1d212a;
$main-link-color: #32d989;
$second-text-color: #565a65;
$third-text-color: #646464;
$main-color: #8770ff;
$lightMain-color: #8870ff1a;
$first-link-color: #897eff;
$main-color--hover: #a594ff;
$extra-text-color: #b6bfd9;
$placeholder-color: #dadfeb;
$background-color: #e5e5e5;
$light-gray-color: #e7e9ed;
$white-color: #ffffff;
$second-font: "Open Sans";

body {
  font-family: "Poppins", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $main-text-color;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1110px;
  margin: auto;
}

.page {
  background: url(../public/img/hero-image-bgd.svg) no-repeat center top / cover
    $background-color;

  &__upTitle {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    color: $extra-text-color;
  }

  &__title {
    font-weight: 300;
    font-size: 48px;
    line-height: 120%;
    margin: 16px 0;
  }
}

.linkStyle {
  color: $main-link-color;
}

.linkActive {
  color: $main-color;
}
